.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 1;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
}
.logo-container {
  /* border: 1px solid white; */
  flex: 1;
  text-align: left;
}
/* #searchbar {
  flex: 2;
} */
.menu-container {
  flex: 5;
}
.menu-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.menu-list-item.active {
  font-weight: bold;
}
.menu-list-item {
  margin-left: 50px;
}
.last {
  margin-right: 40px;
  height: 25px;

  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 200;

  background: #250000;
  background: -moz-linear-gradient(
    -45deg,
    #250000 0%,
    #cb0000 99%,
    #dd7676 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #250000 0%,
    #cb0000 99%,
    #dd7676 100%
  );
  background: linear-gradient(135deg, #250000 0%, #cb0000 99%, #dd7676 100%);
}
