.parent_container_footer {
  height: 300px;
  display: flex;
  background-color: black;
  color: white;
}
.parent_container_footer > .child1 {
  height: 300px;
  /*border: 1px solid green;*/
  width: 40%;
  margin-left: 10%;
}
.parent_container_footer > .child2 {
  height: 300px;
  border: 1px solid rgb(35, 16, 144);
  width: 60%;
  display: flex;
}
.child1_heading {
  height: 100px;
  width: 40%;
  /*border: 1px solid black;*/
}
.child1_heading h1 {
  color: white;
}
.child1_other {
  height: 170px;
  width: 40%;
  /*border: 1px solid black;*/
  display: flex;
  margin-top: 20px;
}
/* .child1_other_box_footer {
  height: 100px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
} */
/* .icons {
  height: 100px;
  width: 100px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 100px;
}
.child1_other h3 {
  margin-left: 8%;
  color: antiquewhite;
} */
.child2_boxes_footer {
  height: 300px;
  width: 30%;
  border-radius: 10px;
  margin-left: 5%;
}
.child2_boxes h3 {
  margin-left: 40px;
}
